<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_title %}Список продуктов{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
</head>
<body>
{% include 'snippets/nav.html' %}

<div class='container'>
{% block content %}{% endblock content %}
</div>


</body>
</html>