{% extends "base.html" %}

{% block content %}
    <div>
        <form class="navbar-form navbar-left p-0 m-0 ml-b" method='GET' action='.'>
            {% csrf_token %}
            <input type="hidden" value="az" name="az" class="form-control post_search_text">
            <input type = "submit" value = "А-Я" class = "btn btn-primary post_search_submit" />
        </form>
        <form class="navbar-form navbar-left p-0 m-0 ml-b" method='GET' action='.'>
            {% csrf_token %}
            <input type="hidden" value="za" name="za" class="form-control post_search_text">
            <input type = "submit" value = "Я-А" class = "btn btn-primary post_search_submit" />
        </form>

        <form class="navbar-form navbar-left p-0 m-0 ml-b" method='GET' action='.'>
            {% csrf_token %}
            <div class="form-group">
            <input type = "submit" value = "Найти" class = "btn btn-primary post_search_submit" />
            <input type="text" name="begins" class="form-control post_search_text" placeholder="Введите первые символы продукта">
            </div>
        </form>
    </div>
    <br><br><br>
    <hr>
    <div>
        <p>Для редактирования или удаления продукта нажмите на название продукта</p>
        <ul>
            <li>Наименование - Количество - Комментарий</li>
            {% for obj in object_list %}
            <li><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a> - {{ obj.quantity }} - {{ obj.comment }}</li>
            {% empty %}
            <li><a href='{% url "create" %}'>Добавить продукт</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}