{% extends "base.html" %}

{% block content %}
<h1>{{ form.instance.title }}</h1>

<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-md" type='submit'>Сохранить</button>
</form>
<br>
<a class="btn btn-primary btn-md" href="{% url 'delete' object.slug %}">Удалить покупку</a>
{% endblock content %}