{% extends "base.html" %}

{% block content %}
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-md" type="submit">Сохранить</button>
    </form>
{% endblock content %}